################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Bakdelar_API/bin/Debug/net5.0
/DataAccess/bin/Debug/netcoreapp3.1
/DataAccess/DataAccess.csproj.user
/Bakdelar_API/.vs/Bakdelar_API/config/applicationhost.config
/obj/debug/*
*.user
*.cache
*.v2
bin
obj
packages